/* In webview.css */
html,body{
  height: 100%;
}

#joplin-plugin-content {
  height: 100%;
}

.container {
  font-family: sans-serif;
  text-align: center;
  height: 100%;
  background-color:antiquewhite;
}

.excalidraw-wrapper {
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}